body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 20px auto;
	padding: 20px;
	/* width: 550px; */
	width: 600px;
	border: 3px solid blue;
}
h1, h2, ul, p {
	margin: 0;
	padding: 0;
}
h1 {
	padding-bottom: .25em;
}
h2 {
	font-size: 120%;
	padding: .5em 0 .25em;
}
li {
	padding-right: 10px;
	display: inline;
}
#image_list a.fade img:hover {
	cursor: not-allowed;
}
#image_list a.active img {
	border: 2px solid blue;
}