*,*::before, *::after {
    box-sizing: border-box;
    font-weight: normal;
    font-family: 'Oswald', sans-serif;

}

body {
padding: 0;
margin: 0;
background: linear-gradient(to right, #C5F4FA, #FAF0C5);
}
.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
    text-align: center 
}

.calculator-grid > button{
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(255, 255, 255, .75);
}

.calculator-grid > button:hover {
    background-color: #CFFFBB;
}

.span-two{
    grid-column: span 2;
}

.output {
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, .75);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.output .previous-operand{
    color: rgba(255, 255, 255, .75);
    font-size: 1.5rem;
}

.output .current-operand{
    color: white;
    font-size: 2.5rem;
}

/* Navbar Styling */ 
  .container{
    width: 80%;
    margin: 0 auto;
  }
  
  header{
  background-color: #8cbda8;
  }
  
  header ::after{
    content: '';
    display: table;
    clear: both;
  }
  
  nav{
    float: left;
  }
  
  nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  nav li {
    display: inline-block;

    position: relative;
  }
  
  nav a{
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
  }
  
  nav a:hover{
  color: black;
  }
  
  nav a::before{
    content: '';
    display: block;
    height: 5px;
    background-color: #244E76;
  
    position: absolute;
    top: 0px;
    width: 0%;
    transition: all ease-in-out 250ms;
  }
  
  nav a:hover::before{
    width: 100%;
  }
  