/*ITIS 3135 Activity 3 css file*/

/*styling for the whole page goes here*/
body
{
	background-color:#EBEBEB; 
}



header{

	color:#0E1892;

}

::-webkit-input-placeholder{
	color: rgb(75, 39, 2);
}

figcaption {
	font-family: Arial, Helvetica, sans-serif;
  }

  