p {
    margin: 25px 50px 75px 50px;
  
  background-color: aquamarine;
}

img {
  filter: grayscale(100%);
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
  border-style: solid;
  border-width: 8px;
  border-color: brown;
}

p {
  text-align: center;   
}

.div{
  text-align: center;
}

div { text-align: center; 
}

ul { display: inline-block; text-align: left; 
}
